
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
h1,p,a,blockquote{
    position: relative
}

h1{
    width: 100%;
    text-align: center;
}
h1::before, h1::after{
    content: '';     
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    background: lightcyan; 
    width: 100%;   
   
}
h1::before{
    margin-left: -100%;
}
h1::after{
    margin-right: -100%;
}


p::before, p::after{
    content: "\2318";
    font-size: 50px;
    display: block;
    text-align: center;
    
}

a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    white-space:pre;
}
a::before{
    content: "\2196" ;
    display: inline-block;
    margin: 0 10px ;   

}

blockquote::before{
    content: open-quote;
    font-size: 50px;
}
blockquote::after{
    position: absolute;
    right: 0;
    content: close-quote;
    font-size: 50px;
    
}